@model FillGaps.SoundHub.WebApp.Models.Account.RegisterViewModel

@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <h2>Crie uma nova conta.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="NomeCompleto" class="form-control" aria-required="true" placeholder="João da Silva" />
                <label asp-for="NomeCompleto"></label>
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="senha" />
                <label asp-for="Password">Senha</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}