@{
    ViewData["Title"] = "Meu SoundHub";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao seu SoundHub, @User.FindFirst("fullname")?.Value!</h1>
    <p class="mt-4">Aqui você encontrará suas playlists, artistas e músicas favoritas.</p>
</div>